pandas>=1.5.0
numpy>=1.21.0
matplotlib>=3.5.0
spacy>=3.5.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0.tar.gz
networkx>=2.8.0
tqdm>=4.65.0
pyvis>=0.3.0
community>=1.0.0
streamlit>=1.22.0
streamlit-option-menu>=0.3.0
python-louvain>=0.16