pandas
numpy
matplotlib
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0.tar.gz
networkx
tqdm
pyvis
community
streamlit>=1.22.0
streamlit-option-menu